* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* I like to organize (when it's a simple site) by element, class, and than id */
body {
  background-color: #fafafa;
  /* This was blank and can't be. */
  /*font-family: ;*/
  font-size: 16px;

}

/*
  Lets optimize the header & footer elements
  All of the properties in this portion were the same across bother elements
*/
header, footer {
  color: white;
  font-family: 'Rajdhani', sans-serif;
  font-size: 1.25em;
  width: 100%;
  /* Not right now but we will go into why this min-width is a bad idea */
  min-width: 1200px;
  background-color: #585858;
  font-weight: 100;
  /*
  https://developer.mozilla.org/en-US/docs/Web/CSS/font-smooth
  -webkit-font-smoothing:antialiased;
	-moz-smoothing:antialiased;
	-O-smoothing:antialiased;
	*/
}

/* This exists because it's specific to just the footer element */
footer {
  clear: both;
  position: fixed;
  z-index: 1;
  height: 6em;
  min-width: 1200px;
  /*
  https://developer.mozilla.org/en-US/docs/Web/CSS/font-smooth
  -webkit-font-smoothing:antialiased;
	-moz-smoothing:antialiased;
	-O-smoothing:antialiased;
	*/
}

/* The .header class didn't need to be used. Readjusted */
header h1{
  padding: 2%;
}

img {
  vertical-align: top; /* This removes the small gap between the image and the MushThumb container. I am not sure how that gap is generated in the first place. */
}

h2 {
  position: absolute;
  font-family: 'Open Sans Condensed', sans-serif;
  color: white;
  top: 70%;
  font-size: 40px;
  z-index: 1;
  text-shadow: 2px 2px #000;
  width: 100%;

}
/* Wrapper is a bad name. What is it wrapping?
  With out being familiar with the project, is there a way to know?
  Consider "content" or "main", or the section element.
  */
.wrapper {
  width: 100%;
  overflow-x: scroll;
  white-space: nowrap;
}
/* use camelCasing */
.mushThumb {
  position: relative;
  display: inline-block;
  margin: 2em;
  box-shadow: 10px 10px 5px #888;
  text-decoration: none;
  text-align: center; /* In order for the h2 text to have been centered in this container, the width needed to be set to 100% */

}

.mushThumb:hover {
  opacity: .6;
  /* No need for 'px' if the value is 0. */
  outline: 0 solid white;

}

/*
  Consider a different name. Looking at this class name, I would expect it to
  be styling the h2 element. It is being used in a div though.
*/
.h2background {
  background-color: gray;
  position: absolute;
  width: 100%;
  height: 4em;
  top: 70%;
  /*
    https://developer.mozilla.org/en-US/docs/Web/CSS/opacity
    Drop the browser specific hacks
  */
  filter: alpha(opacity=20); /* IE */
  -moz-opacity: 0.2; /* Mozilla */
  opacity: 0.2; /* CSS3 */
  z-index: 1;
}

/*
  Remember, classes are for items that will be repeated on the same page.
  Copyright should exist only once, should be an id
*/
.copyright {
  padding-left: 2em;
  padding-top: 1em;
  line-height: 2em;
  font-family: Arial, Helvetica, sans-serif;
  text-transform: uppercase;
  font-size: .6em;
  font-style: normal;
  height: 6em;
  font-weight: lighter;
}

#aboutme {
  position: absolute;
  text-align: right;
  vertical-align: middle;
  top: 0;
  padding-right: 5em;
  padding-top: .5em;

}

#aboutmelink {
  color: white;
  height: 6em;
  font-style: normal;
  font-family: Arial, Helvetica, sans-serif;
  text-transform: uppercase;
  line-height: 2em;
  font-size: .5em;
  text-decoration: none;
  text-shadow: none;
  font-weight: lighter;
}

#aboutmelink:hover {
  text-shadow: 2px 2px #000;
}

